.progressbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
}
.progressbar .inner {
    transition: width .3s ease-out;
    background: red;
    height: 10px;
    width: 10%;
}
